*{
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 14px;
    font-family: sans-serif;
    color: #222;
    /* RGB: 00-> red, 00-> Green, 00->Blue. Simplificar: 0->R, 0->G, 0->B */
    /* #222222 = #222 */
}

.img-invert {
    -webkit-filter: invert();
    filter: invert();
}

.icon {
    width: 12px;
    top: 3px
}

nav .area-usuario a,
nav .rede-social {
    font-size: 12px;
    /* display: flex; */
}

nav .area-usuario  a{
    text-decoration: none;
    color: #eee;
}

/* Barra de busca */
.bar-search {
    padding: 2px;
}

.input-search,
.btn-search {
    border: none;
}

.input-search {
    padding: 5px 10px;
    width: 100%;
}

.input-search:focus {
    outline: none !important;
}

.btn-search {
    padding: 5px 20px;
    cursor: pointer;
}

.links-search {
    padding: 5px 0;
}

.links-search a {
    color: #eee;
    text-decoration: none;
    font-size: 10px;
}

.icon-logo {
    padding: 0 10px;
    width: 100%;
    max-height: 50px;
}

.icon-cart {
    padding: 10px 20px;
    font-size: 25px;
}

.header-space-y {
    padding: 0 0 10px 0;
}

/* Exemplo Flex */
.header-top {
    display: flex;
    justify-content: space-between;
}

.header-seach {
    flex-basis: 70%;
}

.bar-search {
    display: flex;
    justify-content: space-between;
}

.slides {
    height: 100%;
    flex-grow: 3;
    padding: 5px;
    background-color: yellow;
}

.carousel-item {
    height: 240px;
}

.carousel-item img {
    object-fit: cover;
}

#categorias {
    margin: 10px;
}
.icons-shopee {
    margin-top: 10px;
}

.icons-shopee img {
    width: 45px;
    height: 45px;
}

.icons-shopee-names{
    margin-top: 8px;
    font-size: 12px;
}
.ofertas {
    flex-grow: 1;
}

.ofertas div {
    height: 100%;
    background-color: rgb(144, 139, 191);
    padding: 5px;
}

.display-mobile-hide {
    display: block;
}

.display-mobile-show {
    display: none;
}

#publicidade-desktop1 {
    display: block;
}

#publicidade-mobile1 {
    display: none;
}

.py-20 {
    padding: 20px 0;
}
#area-produtos {
    width: 100%;
    height: 330px;
}

.timeOff b{
    border-radius: 4px;
    padding: 0 2px;
    font-size: 20px;
    background-color: black;
    color: white;
}

.produto-img {
    position: relative;
    width: 200px;
    height: 200px;
}

.produto-flagOff {
    background-image: url(../img/flag.svg);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 76px;
    right: 0;
    color: white;
    font-weight: 800;
}

.produto-flagOff span:first-child{
    color: #f84b2f;
}

.produto-frete {
    position: absolute;
    bottom: 0;
}

.produto-valor {
    font-size: 1.125rem;
    font-weight: 700;
    height: 1.6875rem;
    color: #ee4d2d;
    padding-top: 20px;
}

.produto-barra span {
    position: absolute;
    right: 20%;
    color: white;
    font-weight: 800;
}

footer ul li, a {
    list-style: none;
    text-decoration: none;
    color: #222;
}

@media (max-width: 800px) {
   #categorias{
    display: none;
   } 
}

@media (max-width: 500px) {
    /* .icon-cart {
        display: none;
    } */
    .col-mobile {
        width: 100%;
    }

    .d-flex {
        flex-direction: column;
    }

    .flex-mobile-row {
        display: flex;
        flex-direction: row !important;
    }

    .justify-content-m-between {
        justify-content: space-between;
    }

    .display-mobile-hide {
        display: none;
    }

    .display-mobile-show {
        display: block;
        padding: 10px;
    }

    #publicidade-desktop1 {
        display: none;
    }

    #publicidade-mobile1 {
        display: block;
    }

    .display-mobile-hide {
        display: none;
    }

    .display-mobile-show {
        display: block;
    }

}
